html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 700px;
}
.container header {
  height: 100px;
  background-color: #f6f5f4;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d3d3d3;
}
.container header .top {
  margin-left: 250px;
  width: 10%;
  height: 50%;
}
.container header .top p {
  font-family: "Dela Gothic One";
  font-size: 20.8609px;
  line-height: 30%;
}
.container header .top .div-link {
  color: gray;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.container header .top2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 300px;
}
.container header .top2 .div-link {
  color: gray;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.container header .top3 {
  display: flex;
  align-items: center;
  margin-left: 320px;
}
.container header .top3 button {
  background-color: #f6f5f4;
  font-weight: bold;
  border-color: transparent;
  padding-top: 5px;
}
.container .section1 {
  background-color: #f6f5f4;
  height: 740px;
}
.container .section1 .photos .back {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 147px;
  width: 111px;
}
.container .section1 .photos .boi {
  height: 507px;
  width: 580px;
  position: absolute;
  top: 30%;
  left: 48%;
}
.container .section1 .photos .plant {
  position: absolute;
  top: 37%;
  left: 65%;
  width: 530px;
  height: 571px;
}
.container .section1 .content {
  margin-top: -16px;
}
.container .section1 .content p {
  color: #2b788b;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  padding-left: 250px;
  padding-top: 50px;
  line-height: 100%;
}
.container .section1 .content h2 {
  font-family: "Dela Gothic One";
  margin-left: 250px;
  font-weight: 400;
  font-size: 40px;
}
.container .section1 .content h4 {
  color: #757575;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-left: 250px;
}
.container .section1 .content button {
  border-radius: 30px;
  background-color: #c3dce3;
  border-color: transparent;
  width: 125px;
  height: 40px;
  margin-left: 250px;
}
.container .section1 .end {
  padding-left: 250px;
  display: flex;
  height: 50px;
  align-items: flex-start;
  gap: 100px;
  padding-top: 40px;
}
.container .section1 .end .words {
  display: flex;
  align-items: center;
}
.container .section1 .end .words .lightning {
  color: #2b788b;
  width: 15px;
  height: 15px;
}
.container .section1 .end .words p {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 20px;
}
.container .section1 .end .games {
  display: flex;
  align-items: center;
}
.container .section1 .end .games .game {
  width: 15px;
  height: 15px;
}
.container .section1 .end .games p {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 20px;
}
.container .section1 .h6 {
  display: flex;
  padding-left: 250px;
  height: 50px;
  align-items: flex-end;
  gap: 100px;
  color: #585858;
  font-family: "Montserrat";
}
.container .section2 {
  height: 600px;
}
.container .section2 .image {
  position: absolute;
  height: 445px;
  width: 580px;
  left: 230px;
}
.container .section2 .content h2 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  padding-left: 55%;
}
.container .section2 .content h6 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  padding-left: 55%;
}
.container .section2 .end .pink {
  position: absolute;
  background-color: #f2d4dc;
  width: 129px;
  height: 112px;
  border-radius: 20px;
  margin-left: 55%;
}
.container .section2 .end .pink img {
  position: absolute;
  top: -20px;
}
.container .section2 .end .pink .div-link {
  color: #945069;
  padding-top: 82px;
  position: absolute;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 700;
  padding-left: 25px;
}
.container .section2 .end .pink .arrow {
  padding-top: 100px;
  position: absolute;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 700;
  padding-left: 73px;
}
.container .section2 .end .blue {
  background-color: #c3dce3;
  position: absolute;
  width: 172px;
  height: 112px;
  border-radius: 20px;
  margin-left: 65%;
}
.container .section2 .end .blue img {
  position: absolute;
  top: -30px;
  padding-left: 35px;
}
.container .section2 .end .blue .div-link {
  color: #2b788b;
  padding-top: 82px;
  position: absolute;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 700;
  padding-left: 33px;
}
.container .section2 .end .blue .call {
  padding-top: 110px;
  position: absolute;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 700;
  padding-left: 113px;
}
.container .section3 {
  height: 500px;
  background-color: #f6f5f4;
}
.container .section3 .image {
  padding-left: 50%;
}
.container .section3 .content {
  margin-top: -26%;
}
.container .section3 .content h2 {
  font-family: "Dela Gothic One";
  margin-left: 250px;
  font-weight: 400;
  font-size: 40px;
}
.container .section3 .content h6 {
  color: #757575;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-left: 250px;
}
.container .section3 .content button {
  border-radius: 30px;
  background-color: #c3dce3;
  border-color: transparent;
  width: 125px;
  height: 40px;
  margin-left: 250px;
  color: #2b788b;
  font-family: "Montserrat";
  font-weight: 700;
}
.container .section4 {
  height: 600px;
}
.container .section4 .image {
  position: absolute;
  height: 445px;
  width: 580px;
  left: 200px;
  padding-top: 50px;
}
.container .section4 .content {
  padding-top: 50px;
}
.container .section4 .content h2 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  padding-left: 55%;
}
.container .section4 .content h6 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  padding-left: 55%;
}
.container .section4 .content button {
  border-radius: 30px;
  background-color: #c3dce3;
  border-color: transparent;
  width: 125px;
  height: 40px;
  margin-left: 55%;
  color: #2b788b;
  font-family: "Montserrat";
  font-weight: 700;
}
.container footer {
  background-color: #f6f5f4;
  height: 160px;
}/*# sourceMappingURL=style.css.map */